<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div fxLayout="column" fxLayoutAlign="stretch">
      <nz-form-item fxFlex="100%">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="libelle">Nom du groupe</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="libelle" id="libelle">
          <nz-form-explain *ngIf="validateForm.get('libelle').dirty && validateForm.get('libelle').errors">Le nom du groupe utilisateur est obligatoire!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item fxFlex="100%" fxLayoutAlign="center">
        <nz-transfer
          ngClass.gt-xs="transfergtxs"
          ngClass.xs="transferxs"
          [nzDataSource]="transfertSource"
          (nzChange)="change($event)"
          nzShowSearch
        >
        </nz-transfer>
      </nz-form-item>
      <nz-divider></nz-divider>
      <div fxLayout.xs="column" fxLayoutAlign.xs="stretch" fxLayoutAlign.gt-xs="end">
        <button ngClass.gt-xs="mr-small" (click)="previousRoute($event)" nz-button nzType="default">Retour</button>
        <button nz-button nzType="primary">{{ libelleButtonSubmit }}</button>
      </div>
  </div>
</form>
